@import "../base.scss";
.container{
    background-color: #ffffff;
    width: 100vw;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    & .header{
        display: flex;
        align-items: center;
        width: 100vw;
        & .icon{
            padding: 0 20px;
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 700;
            color: var(--ad-font-color-black);
        }
        & .center{
            flex: 1;
            text-align: center;
            padding-top: 10px;
            &.line{
                display: flex;
                justify-content: center;
            }
            & .bloder-line{
                width: 20vw;
                height: 0;
                border: 4px solid var(--ad-font-color-light-grey);
                border-radius: 4px;
            }
            &.no-close{
                text-align: left;
                text-indent: 1rem;
            }
            & .title{
                font-size: var(--ad-font-size-2);
                color: var(--ad-font-color-black);
            }
            & .desc{
                font-size: var(--ad-font-size-3);
                color: var(--ad-font-color-grey);
                padding: 5px 0;
            }
        }
    }

    & .content{
        display: flex;
        width: 100vw;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 15px;
        max-height: 50vh;
    }
    & .action-btn{
        display: flex;
        width: 100vw;
        padding: 20px 0;
        justify-content: space-evenly;
    }
}