@import "../base.scss";
.ad--badge{
    height: 40px;
    min-width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: var(--ad-font-size-4);
    color: white;
    background-color: var(--ad-main-color);
    border-radius: 20px;
    &.warn{
        background-color: var(--ad-warn-color);
    }
    &.ad-len{
        padding: 0 10px;
    }
    &.tap-active:active{
        background-color: var(--ad-active-bg-color);
    }
}