@import "../base.scss";
.ad-button {
    // background-color: var(--ad-main-color);
    background-color: var(--ad-main-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 368px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 48px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: var(--ad-font-size-2);
    // text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    &.mini {
        display: inline-flex;
        width: auto;
        padding: 0 0.75em;
        line-height: 2;
        font-size: var(--ad-font-size-2);
    }
    &:active {
        background-color: var(--ad-deep-main-color);
    }
    &.loading {
        background-color: var(--ad-deep-main-color);
    }
    &.warn,
    &.secondary {
        color: var(--ad-warn-color);
        background-color: #fff;
        &:active {
            background-color: var(--ad-active-bg-color);
        }
    }
    &.warn.loading {
        background-color: var(--ad-active-bg-color);
    }
    &.secondary {
        color: var(--ad-main-color);
        background-color: var(--ad-grey-bg-color);
    }
}
