@import "../base.scss";
.ad-button {
    background-color: $main-color;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 368px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 48px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: $regular-font-size-2;
    // text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    &.mini {
        display: inline-block;
        width: auto;
        padding: 0 0.75em;
        line-height: 2;
        font-size: $regular-font-size-2;
    }
    &:active {
        background-color: $deep-main-color;
    }
    &.loading {
        background-color: $deep-main-color;
    }
    &.warn,
    &.secondary {
        color: $warn-color;
        background-color: #fff;
        &:active {
            background-color: $active-bg-color;
        }
    }
    &.warn.loading {
        background-color: $active-bg-color;
    }
    &.secondary {
        color: $main-color;
        background-color: #f2f2f2;
    }
}
