.page {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
}
.richText {
  width: 100vw;
}
.pre {
  white-space: pre;
  background-color: #f6f6f6;
  width: 96vw;
  margin-left: 2vw;
  overflow-x: scroll;
  margin-bottom: 15px;
  border-radius: 4px;
  word-wrap: normal;
  word-break: normal;
  padding: 0.9em;
  box-sizing: border-box;
  .code {
    font-family: monospace;
    font-size: 1rem;
  }
}
h2 {
  color: red !important;
}
.img{
  width: 96vw;
}
.token {
  &.keyword {
    color: rgb(133, 133, 29);
  }
}
