@import "../base.scss";
.ad--list {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: var(--ad-font-size-2);
  color: var(--ad-font-color-desc);
  border-top: 2px solid var(--ad-border-color);
  border-bottom: 2px solid var(--ad-border-color);
  & .ad--list-divider{
    width: 95vw;
    height: 2px;
    background-color: var(--ad-grey-bg-color);
  }
  & .ad--list-item{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    min-height: 100px;
    //border-bottom: 2px solid var(--ad-grey-bg-color);
    box-sizing: border-box;
    padding-left: 5vw;
    &:active{
      background-color: var(--ad-active-bg-color);
    }
    & .ad--list-icon{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center;
      background-size: contain;
    }
    & .ad--list-title{
      flex: 1;
      box-sizing: border-box;
      padding: 0 0 0 10px;
    }
  }
}
