@import "../base.scss";
.tabs {
    width: 100vw;
    height: 80px;
    white-space: nowrap;
    background-color: #ffffff;
    & .tab-item {
        display: inline-flex;
        height: 100%;
        align-items: center;
        padding: 0 30px;
        font-size: var(--ad-font-size-3);
        color: var(--ad-font-color-black);
        position: relative;
        justify-content: center;
        & .title {
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
        }
        & .tab-line {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--ad-main-color);
            border-color: var(--ad-main-color);
            display: block;
            height: 6px;
            width: 0;
            transition: width 0.1s ease-in-out;
        }
        &.active {
            font-weight: 600;
            color: var(--ad-main-color);
            & .tab-line {
                width: 100%;
            }
        }
    }
}
