@import "../base.scss";
.action-sheet{
    background-color: #ffffff;
    width: 100vw;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    & .sheet-item{
        display: flex;
        width: 100vw;
        padding: 28px 0;
        font-size: var(--ad-font-size-2);
        color: var(--ad-font-color-black);
        justify-content: center;
        border-top: 1px solid var(--ad-border-color);
        &.title{
            border-top: none;
            box-sizing: border-box;
            padding: 15px;
            text-align: center;
            font-size: var(--ad-font-size-4);
            color: var(--ad-font-color-grey);
        }
        &.cancel{
            border-top: 15px solid var(--ad-border-color);
        }
        &.action:active,cancel:active{
            background-color: var(--ad-active-bg-color);
        }
    }
    
}
