@import "../base.scss";
.ad--action-sheet{
    background-color: #ffffff;
    width: 100vw;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    & .ad--sheet-item{
        display: flex;
        width: 100vw;
        padding: 28px 0;
        font-size: var(--ad-font-size-2);
        color: var(--ad-font-color-black);
        justify-content: center;
        border-bottom: 1px solid var(--ad-border-color);
        &.ad--title{
            border-top: none;
            box-sizing: border-box;
            padding: 25px;
            text-align: center;
            font-size: var(--ad-font-size-4);
            color: var(--ad-font-color-grey);
        }
        &.ad--cancel{
            border-top: 15px solid var(--ad-border-color);
        }
        &.ad--action:active{
            background-color: var(--ad-active-bg-color);
        }
        &.ad--cancel:active{
            background-color: var(--ad-active-bg-color);
        }
        
        
    }
    &.ad--no-title .ad--ac0{
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
}
