@import "../base.scss";
.ad--loading{
    display: flex;
    align-items: center;
    font-size: var(--ad-font-size-4);
    color: var(--ad-font-color-grey);
    justify-content: center;
}
.ad--loading-ring {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: inline-block;
//   position: absolute;
  margin: 10px;
  border-width: 4px;
  border-style: solid;
  border-color: #F2F6FC transparent transparent;
  border-radius: 50%;
  animation: loadingFrame 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes loadingFrame {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
