@import "../base.scss";
.ad--spin{
    position: relative;
    & .ad--mask{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba(white, .9);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        z-index: 600;
        flex-wrap: wrap;
        &.ad--full-spin{
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: 600;
        }
        &.ad--show{
            transform: scale(1);
        }
        &.ad--hide{
            transform: scale(0);
        }
        & .ad--title{
            width: 100%;
            font-size: var(--ad-font-size-2);
            color: var(--ad-main-color);
            text-align: center;
            padding-top: 15px;
        }
        & .ad--spin{
            width: 50px;
            height: 50px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-between;
            animation: loadingFrame 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            & .ad--dot{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                box-sizing: border-box;
                background-color: var(--ad-main-color);
            }
            & .ad--dot:nth-child(2){
                opacity: .8;
            }
            & .ad--dot:nth-child(3){
                opacity: .4;
            }
            & .ad--dot:nth-child(4){
                opacity: .6;
            }
        }
    }
}

@keyframes loadingFrame {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }